@import "./mixin.scss";
@import "./layout/header.scss";

body{
  font-size: 14px;
}
body, html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrap{
  height: 100%;
}
